{% extends "Webapp_Portfolio/header.html" %}
{% block title %}Registration{% endblock %}

{% block body %}
          <h1 class="mb-0">
            Register
          </h1>
            <div class="container-fluid p-0">
                {% block content %}

                <h3>
                    <span class="text-primary">
                    Please provide your University of Manitoba student ID, e-mail, and create a password
                    </span>
                </h3>
                <br>
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn" type="submit"> Submit. </button>
                    </form><br>
                If you already have an account, <a href="/webapp/login/">Log In instead.</a>

                {% endblock %}
            </div>
{% endblock %}



